@model GetTournamentItemVM
<main>
    <h1 class="section-title">Turnirler</h1>
    <p class="section-subtitle">Rəqabətli turnilərə qoşul və komandanı sina.</p>

    <p class="tournaments-count">5 turnir tapıldı</p>

    <div class="cards-grid">
      @foreach (Tournament tournament in Model.Tournaments)
        {
            <div class="tournament-card">
                <div class="card-image"><img src="~/assets/img/tournaments/@tournament.Logo" alt="@tournament.Name"><span class="tournament-status-badge tournament-status-active">Davam etməkdə</span></div>
                <div class="card-content">
                    <div class="prize-badge">⭐ @tournament.PrizeFund₼</div>
                    <h3 class="card-title">@tournament.Name</h3>
                    <div class="tournament-details">
                        <div class="tournament-detail-item">📅 @tournament.StartDate - @tournament.EndDate</div>
                        <div class="tournament-detail-item">📍 @tournament.City</div>
                        <div class="tournament-detail-item">👥 @tournament.CurrentTeams komanda • </div>
                    </div>
                    <div class="card-buttons"><a href="tournament-detail.html?id=1" class="btn-small">Ətraflı →</a></div>
                </div>
            </div>
        }

    </div>
</main>